@font-face {
  font-family: "Arodora Pro";
  src: url(../fonts/ArodoraPro-Light.otf);
}

@font-face {
  font-family: "NEXT ART";
  src: url(../fonts/NEXTART_Bold.otf);
}

@font-face {
  font-family: "NEXT ART";
  src: url(../fonts/NEXTART_Regular.otf);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

button {
  border: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  height: 100%;
}

.fake-h6 {
  display: none;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Arodora Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #E4E4E4;
}

.footer {
  margin-top: auto;
}

/* Мой фреймворк */
.flex {
  display: flex;
}

.justify-content-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Мой фреймворк */
.container {
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header {
  width: 100%;
  height: 797px;
}

.menu {
  min-height: 102px;
}

.menu__list {
  max-width: 710px;
  width: 100%;
  margin-left: 14px;
}

.menu__item {
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}

.menu__item:hover {
  border-bottom: 1px solid #E2A300;
  transition: 1s;
}

.hello {
  align-items: center;
  justify-content: space-between;
}

.hello__info-gleb {
  max-width: 400px;
}

.info-gleb__hello {
  font-family: 'NEXT ART';
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
}

.info-gleb__name {
  font-family: 'NEXT ART';
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  margin: 0;
}

.info-gleb__btn {
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  width: 200px;
  height: 47px;
  color: #000000;
  font-weight: 700;
}

.info-gleb__btn:hover {
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.48);
  transition: 0.3s;
}

.info-gleb__btn:active {
  transform: scale(0.9);
  transition: 0.01s;
}

/* header */
.main {
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}

/* skills */
.skills {
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 120px;
}

.skills__item {
  max-width: 270px;
  width: 100%;
  height: 270px;
  background: #2A2A2A;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border-radius: 29px;
}

.skills__item img {
  max-width: 75px;
}

.skills__item-skill {
  font-size: 24px;
  line-height: 29px;
}

.ui {
  max-width: 148px !important;
}

/* skills */
/* about */
.photo-container {
  background: #2C2C2C;
  border-radius: 14px;
  padding: 15px;
  display: inline-block;
}

.about {
  position: relative;
  max-width: 1211.89px;
  min-height: 961px;
  margin-top: 93px;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.white-circle {
  border: 89px solid #E4E4E4;
  filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
  width: 784.16px;
  height: 792px;
  top: 36px;
  z-index: 2;
}

.orange-circle {
  border: 34px solid #E2A200;
  filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
  width: 352.48px;
  height: 356px;
  right: 0;
}

.bloom-circle {
  border: 55px solid #00C4F0;
  filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
  width: 481.19px;
  height: 486px;
  right: 0;
  bottom: 0;
}

.about__info {
  min-height: 950px;
  position: relative;
  z-index: 4;
}

.two__photos {
  min-height: 950px;
}

.about__info-txt {
  background: #2C2C2C;
  border-radius: 14px;
  min-height: 822px;
  max-width: 491px;
  margin-top: 48px;
}

.about-me {
  font-family: 'NEXT ART';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  margin: -27px 0 0 63px;
}

.about__info-txt-txt {
  font-size: 20px;
  line-height: 24px;
  padding: 63px;
}

.one__photo {
  display: flex;
  align-items: center;
}

.photo-marg-left {
  margin-right: -90px;
}

/* about */
/* portfolio */
.portfolio {
  background-color: #1E1E1E;
  width: 100%;
  padding-bottom: 150px;
}

.portfolio__title {
  font-family: 'NEXT ART';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  padding: 100px 0 50px 0;
  text-align: center;
}

.swiper-slide {
  max-width: 970px;
  width: 100%;
  padding: 50px;
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
  box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
  /* margin-left: 188px; */
}

.portfolio-slide__info-slide {
  max-width: 296px;
  text-align: center;
}

.info-slide__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.slide__more {
  margin-top: 25px;
}

.prev {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
}

.prev:hover svg path {
  stroke: #c2b223;
  transition: 0.3s;
}

.prev:active,
.next:active {
  transform: scale(0.9);
}

.next {
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
}

.next:hover svg path {
  stroke: #c2b223;
  transition: 0.3s;
}

/* portfolio */
/* footer */
.footer {
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
  width: 100%;
}

.footer-container {
  padding: 50px 5px;
  max-width: 786px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.footer__menu {
  min-height: 138px;
}

.footer__contacts {
  min-height: 138px;
}

.contact__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.footer__logo-copy {
  min-height: 138px;
  max-width: 273px;
  width: 100%;
}

.logo-btn-top {
  max-width: 273px;
  width: 100%;
}

.footer__btn-top {
  transform: rotate(90deg) !important;
}

.footer__btn-top span {
  margin: 0 0px -5px 0;
}

.footer__menu-item:hover {
  color: #515151;
  transition: 0.2s;
}

.footer__contact-item-hover:hover {
  color: #515151;
  transition: 0.2s;
}

/* footer */
@media(min-width:960px) {
  .swiper-slide {
    margin: 0 188px 0 188px;
  }
}

@media(max-width:1202px) {
  .container {
    max-width: calc(100% - 20px);
  }

  .hello {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    height: 100%;
  }

  .hello__info-gleb {
    max-width: 100%;
  }
}

@media(max-width:960px) {
  .portfolio-slide {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-slide__info-slide {
    max-width: 100%;
    margin-top: 20px;
  }

  .about__info-txt {
    max-width: 400px;
  }

  .about__info-txt-txt {
    padding: 20px;
  }
}

@media(max-width:768px) {
  .about__info {
    flex-direction: column;
    align-items: center;
  }

  .two__photos {
    min-height: 100%;
  }

  .photo-marg-left {
    margin: 0;
  }
}

@media(max-width:610px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts {
    margin: 20px 0;
  }

  .next,
  .prev {
    transform: scale(0.8);
    opacity: 0.40;
  }

  .menu {
    flex-direction: column;
  }

  .footer__btn-top {
    display: flex !important;
  }

  .hello {
    margin-top: 30px;
  }

  .info-gleb__name {
    font-size: 50px;
  }

  .info-gleb__hello {
    font-size: 40px;
  }
}

@media(max-width:360px) {
  .swiper-slide {
    padding: 20px !important;
  }

  .menu__list {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
  }

  .menu__item {
    flex: 0 1 50%;
  }
}